<h1 class="mt-5">Selectores anidados</h1>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">

<!-- Continentes -->
<div class="row mb-3">
    <div class="col">  
        <label class="form-label">Continente:</label>
        <select class="form-control"
                formControlName="region">
            <option value="">-- Seleccione continente --</option>
            <option *ngFor="let region of regiones" 
                    [value]="region | lowercase">{{ region }}</option>
        </select>
    </div>
</div>
    
<!-- Paises -->
<div class="row mb-3">
    <div class="col">  
        <label class="form-label">Paises:</label>
        <select class="form-control"
                formControlName="pais">
            <option value="">-- Seleccione el pais --</option>
            <option *ngFor="let pais of paises" 
                    [value]="pais.alpha3Code">{{ pais.name }}</option>
        </select>
    </div>
</div>

<!-- Fronteras -->
<div class="row mb-3">
    <div class="col">  
        <label class="form-label">Fronteras:</label>
        <select class="form-control"
                formControlName="frontera">
            <option value="">-- Seleccione la frontera --</option>
            <option *ngFor="let frontera of fronteras" 
                    [value]="frontera">{{ frontera }}</option>
        </select>
    </div>
</div>


    <button class="btn btn-primary float-end"
            type="submit">
        Seleccionar
    </button>

</form>

<h3>Formulario</h3>
<pre>Valid: {{ miFormulario.valid }}</pre>
<pre>Value: {{ miFormulario.value | json }}</pre>